.aboutSession{
    background-image: url("../../../images/shop.png");
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


.aboutHolder{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2{
        font-weight: 700;
        font-size: 30px;
    }
}


.aboutItems{
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    gap: 5px;


    a{
        text-decoration: none;
        color: black;
    }
}